.about-info {
   display: grid;
   grid-gap: 30px;
   grid-template-areas: 
   'bioimage bio bio'
   'job1 job2 job3';
   grid-template-columns: repeat(3, 1fr);

   .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 3px solid
   }
   
   .bio {
      grid-area: bio;
      font-size: 1.5rem;
   }
   
   .job1 {
      grid-area: job1;
   }
   
   .job2 {
      grid-area: job2;
   }
   .job3 {
      grid-area: job3;
   }
   
   .job {
      background: lighten($primary-color, 5);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
   }
}

