// GLOBAL PRESETS
* {
   box-sizing: border-box;
}

body {
   @include background;
   background: $primary-color;
   color: #fff;
   height: 100%;
   margin: 0;
   font-family: 'Segoe UI', sans-serif;
   line-height: 1.5;
}