.btn {
   display: block;
   padding: .5rem 1rem;
   border: 0;
   margin-bottom: .3rem;

   &:hover {
      background: $secondary-color;
      color: set-text-color($secondary-color);
   }

}

.btn-dark {
   @extend .btn;
   background: darken($primary-color, 50);
   color: #fff;
}

.btn-light {
   @extend .btn;
   background: lighten($primary-color, 50);
   color: #333;
}