// HEADINGS
h1, h2, h3 {
   margin: 0;
   font-weight: 400;

   &.lg-heading {
      font-size: 6rem;
   }

   &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(lighten($primary-color, 2), .5);
   }

}
a {
   text-decoration: none;
   color: #fff;      
}

header {
   position: fixed;
   z-index: 9999;
   width: 100%;
}

.text-secondary {
   color: $secondary-color;
}

main {
   padding: 4rem;
   height: 100%;

   &#home {
      overflow: hidden;
      h1 {
         margin-top: 20vh;
      }
   }

   .icons {
      margin-top: 1rem;

      a {
         padding: 0.4rem;

         &:hover {
            color: $secondary-color;
            @include easeOut;
         }
      }
   }
}