.projects {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 0.7rem;

   img {
      width: 100%;
      border: 3px #fff solid;

      &:hover {
         opacity: .5;
         border-color: $secondary-color;
         @include easeOut;
      }
   }
}